extends layout

block links
	link(rel="stylesheet", type="text/css", href="/css/practice.css")


block content
	div.container-fluid
		div.row
			div.col-md-2.text-center
				h3 Level of Difficulty
				- for (var i = 1; i < 13; i++)
					h4.level #{i}

				h3.cat Category of Shots
				h4.cat 8 ball
				h4.cat 9 ball
				h4.cat 10 ball
				h4.cat Straight pool
				h4.cat Single shot
				h4.cat Multiple Shots
				h4.cat Position shots
			div.col-md-10
				- each table, index in tablelist
					div= table.title
					div.table(data-title="#{table.title}" data-user="#{user.username}" data-index="#{index}") 
						img.tableImage(src="/image/pool-table-top-view.png")

						-for i in table.array
							- var num = i.typeOfBall
							- var top = i.location.top
							- var left = i.location.left
							img.ball-on-table(src="/image/" + "#{num}.png", style="top: #{top}px; left: #{left}px")
						div.note-practice-shots= table.note

				div.modal.fade#myModal(tabindex="-1" role="dialog" ariala-belledby="myModalLabel" aria-hidden="true")
					div.modal-dialog(style="-webkit-transform: scale(1.5,1.5)")
						div.modal-content
							div.modal-header
								button.close(type="button" data-dismiss="modal")
									span(aria-hidden="true")&times;
									span.sr-only Close
								h4.modal-title#myModalLabel Practice Table
							div.modal-body

							div.modal-footer
								button.btn.btn-default(type="button" data-dismiss="modal") close

block script
	script#entry-template(type="text/x-handlebars-template").
		<div>{{title}}</div>
		<div class="table">
			<img class="tableImage" src="../image/pool-table-top-view.png" />
			{{#each array}}
				<img class="ball-on-table" src="../image/{{this.typeOfBall}}.png" style="top:{{this.location.top}}px; left: {{this.location.left}}px" />
			{{/each}}
			<div class="note-practice-shots">{{note}}</div>
		</div>
	script(type="text/javascript", src="/javascript/practice.js")

